* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #333333;
    color: white;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:white;
    color:black;
}

button:first-child {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

button:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

canvas {
    margin-top: 20px;
    cursor: crosshair;
}

.introjs-tooltiptext {
    color: black;
}

.controllabel {
    text-align: right;
    margin-right:30px;
    text-decoration: underline;
    text-decoration-color: #455d8c;
}

.dotrow {
    line-height:0;
    display: flex;
    justify-content: center;
}

.dot {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    cursor: pointer;
    margin: 2px;
}

.dot.on {
    background-color: dodgerblue;
}

.dot.off {
    background-color: white;
}

.dot.active {
    background-color: blueviolet;
}

.sliders {
    cursor: pointer;
    margin-bottom: 11px;
}

.noUi-horizontal {
    padding-right: 32px;
}

.noUi-horizontal .noUi-handle {
    height:18px;
    left: -1px;
    top:-1px;
    box-shadow: none;
    background-color: #333333;
}

.noUi-horizontal .noUi-origin {
    right: -32px;
}

.noUi-horizontal .noUi-handle:before, .noUi-horizontal .noUi-handle:after {
    height: 5px;
    top: 5px;
}

.introjs-showElement {
    background-color: #333333;
}

#container {
    opacity: 0;
    transition: opacity 1s;
}

#wave {
    display:block;
}

#seq {
    display: flex;
    margin: 0 auto 20px auto;
    flex-direction: column;
}

#header h1, #header h4 {
    margin: 0;
    display:inline-block;
    font-family: 'Permanent Marker', cursive;
    color:white;
}

#header h1 {
    font-size: 3em;
}

#headertext {
    text-align: center;
    margin: 0 auto;
    display: block;
}

#helpbutton {
    margin-top: -10px;
    margin-bottom: 10px;
    text-align:center;
    display: block;
    font-family: 'Permanent Marker', cursive;
    color:white;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 22px;
    cursor: pointer;
}

#controls {
    margin-bottom:20px;
}

#tooltip {
    position:absolute;
    z-index: 999999;
    background: #135eaf;
    color:#ffffff;
    padding:5px;
}